<% if @my_user.first_name %>
  <h1> <%= @my_user.first_name %> <%= @my_user.last_name  %></h1>
<% else %>
  <h1> <%= @my_user.email  %></h1>
<% end %>

<p>
  <ul>
    <li><u>Email : </u><%= @my_user.email %></li>
    <li><u>Description : </u><%= @my_user.description %></li>
  </ul>
</p>

<% if @my_user.first_name %>
  <h2>Voici la liste des évènements proposés par <%= @my_user.first_name %>:</h2>
<% else %>
<h2>Voici la liste des évènements proposés par <%= @my_user.email %>:</h2>
<% end %>
    <ul>
      <% @my_user.organized_events.each do |e| %>
        <li> <%= link_to "#{e.title}", event_path(e.id) %></li>
      <% end %>
    </ul>
  